<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].first_name + result[0].last_name + result[0].email}); %>
    <h1>Accounts</h1>
    <ul>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
        <li>Email: <%= result[0].email %><li>
        </li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>