<%- include("../includes/header.ejs", {title:"Skills - " + result[0].skill_name + result[0].description}); %>
    <h1>Skills</h1>
    <ul>
        <li>Skill: <%= result[0].skill_name %></li>
        <li>Description: <%= result[0].description %></li>
        </li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>