<%- include("../includes/header.ejs", {title: "Update " + company.company_name}); %>

<h1>Update <%= company.company_name%></h1>
<form action="/company/update" method="get">
    <input type="hidden" id="company_id" name="company_id" value="<%= company.company_id %>">
    Company Name: <input id="company_name" name="company_name" type="text" value="<%= company.company_name%>"/>
    <br />
    <br />
    </input>

    <!-- Initialize the multiselect plugin: -->

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>