<%- include("../includes/header.ejs", {title:"Companies - " + result[0].company_name}); %>
    <h1>Companies</h1>
    <ul>
        <li>Company Name: <%= result[0].company_name %></li>
        </li>
    </ul>

<a href="/company/all"><< back</a>

<%- include("../includes/footer.ejs"); %>