<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Add New Company</h1>
    <form action="/company/insert" method="get">
        Company Name: <input id="company_name" name="company_name" type="text" />
        <br />
        <br />
        </select>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>